@font-face {
    font-family: Birds;
    src: url("../resources/angrybirds.ttf");
}

body {
    margin: 40px;
    background: #666;
}

#my_canvas {
    background: lightgray;
    border: #000 1px solid;
}

#highScore {
    visibility: hidden;
}